<div class="my-16">

  <div class="flex justify-between">
    <section>
      <h2 class="text-4xl">Funding Comparison</h2>
      <p class="text-base mt-1">Funding rate differences across exchanges</p>
    </section>

    <section class="self-end">
      <p class="text-xs">Updated as of: <%= local_time(@latest_funding_rate.created_at) %></p>
    </section>
  </div>

  <div class="mt-8 bg-neutral-900 border border-neutral-700 inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
    <table class="min-w-full divide-y divide-neutral-700">
      <thead>
        <tr>
          <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">Instrument</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-white">Aevo</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-white">Hyperliquid</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-white">Aevo-HL Arb</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-neutral-800">
        <% @instruments.each do |instrument| %>
          <% cache instrument do  %>
            <%= render partial: "instrument", locals: { instrument: instrument, aevo: @aevo, hyperliquid: @hyperliquid } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
